body {
  background-color: #08070F
  color: #CBC7DD
  font-family: "Courier New", Courier, monospace;
font-size: 14px;
max-width: 65ch;
margin: 0 auto;
padding: 24px;
line-height: 1.5;
}
a { 
color: #00E5FF;
  }
